*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}
.navbar{
    background-color: #1A0B2E;
    justify-content: space-around;
    align-items: center;
    display: flex;
    height: 80px;
}
.white-color{
    color: #FFFFFF;
}
.linear-color{
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text{
    font-size: 2rem;
}
.link{
    display: flex;
    gap: 32px;
}
.link-menu{
    list-style: none;
}
.link-text{
    color: #FFFFFF;
    text-decoration: none;
}
.button{
    border-radius: 1000px;
    font-weight: 600;
    cursor: pointer;
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    border: none;
    padding: 13px;
}

.hamburger{
    display: none;
}
.hero{
    border-top: 1px solid #a66eef;
    height: 600px;
    background: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-container{
    
    max-width: 400px;
    height: 400px;
    margin: 100px auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
}
.hero-visual {
    position: relative;
    width: 330px;
    height: 330px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-image{
    width: 100%;
    height: 100%;
}
.micro {
    position: absolute;
    width: 120px;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}
.new{
    top: 10px;
    right: 10px;
    background-color: #00ff66; 
    color: #000;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 12px;
}
.hero-container h2{
    font-size: 1.8rem;
    color: #FFFFFF;
}
.hero-container p{
    color: #bbb4b4;
}
.hero-buttons{
    display: flex;
    gap: 10px;
}
.hero-buttons .spotify{
     background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
     color: #FFFFFF;
     border: none;
     padding: 13px;
     border-radius: 1000px;
     cursor: pointer;
     font-weight: 600;
}

.hero-container .subscribe{
    background: transparent;
    color: #00FF88;
    border: 1px solid #00FF88;
    padding: 13px;
    border-radius: 1000px;
    cursor: pointer;
    font-weight: 600;
}
.podcast{
    border-top: 1px solid #1A0B2E;
    background-color: #1A0B2E;
    height: 500px;
}
.podcast-desc{
    max-width: 1200px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
}
.podcast-desc-title{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.podcast-desc-para{
    color: #969292;
    width: 700px;
    margin: 0 auto;
    line-height: 20px;
}
.horizontal{
    max-width: 1200px;
    margin: 0 auto;
}
.podcast-number{
    max-width: 1200px;
    height: 100px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.podcast-number-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.podcast-number-card h2{
    color: #00FF88;
    font-size: 2rem;
    margin-bottom: 18px;
}
.podcast-number-card p{
    color: #969292;
}
.choose{
    border-top: 1px solid #230E3D;
    height: 1000px;
    background-color: #230E3D;
}
.choose-title{
    max-width: 1200px;
    margin: 90px auto;
}
.choose-title h2{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}
.choose-container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,220px);
    gap: 20px;
}
.box{
    background-color: #351165;
    border-radius: 40px;
    padding: 40px;
}
.box h3{
    margin: 16px 0;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;
}
.box p{
    color: #969292;
}